<!DOCTYPE html>
<html>
<head>
  <title>Bard or Tweet</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div>
        <%= image_tag "BoT-title.png", class: "center-block img-responsive" %>
      </div>
      <p class="text-center">Can You Tell the Difference Between Shakespeare and Twitter?</p>
      <p class="text-center">Select the Correct Source.</p>
    </header>

      <%= yield %>

    <footer class="nav navbar-fixed-bottom text-center">
      <span>Built by <a href="http://telos.io">Telos.io</a> |<span>
      <span> Inspired by <a href="https://twitter.com/kumailn?lang=en">Kumail Nanjiani</a> |<span>
      <span> <a href="mailto:kb@telos.io">Take down request</a></span>
    </footer>

  </div><!--container-->
</body>
</html>
